fastapi==0.115.9
uvicorn==0.34.0
flet==0.24.1
pillow==11.1.0
pandas==2.2.3
numpy==2.2.3
pydicom==3.0.1
scikit-image==0.25.2
matplotlib==3.10.1
openpyxl==3.1.5
python-multipart==0.0.20
requests==2.31.0
pyinstaller==6.10.0 